{
  "presets": [
    [
      "@babel/env",
      {
        "debug": true,
        "corejs": "3",
        "useBuiltIns": "usage",
        "modules": false,
        "targets": [
          "last 3 chrome versions",
          "last 2 firefox versions"
        ]
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}